.footer__address {
    font-family: 'Roboto';
    font-style: normal;
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 20px;
    width: 231px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    
}

