.working__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.working__box {
    position: relative;
}

.working__txt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #fff;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
}

.working__list {
    display: flex;
}

.working__item:not(:last-child) {
    margin-right: 30px;
}

.working__item {
    list-style-type: none;
}