:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --dark-background-color: #2F303A;
    --white-background-color: #F5F5F5;

    --trns-fast: 300ms ease;
    --trns-slow: 600ms ease-in-out;
}